.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #ebeeef;
}
  
  
.wrap-login100 {
    width: 670px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 4px rgba(12,30,59,0.1);
}

.box {
    width: 500px;
    height: 500px;
    border: 2px solid darkblue;
    background-color: blue;
    color: white;
    font:
      16px "Zilla",
      "Open Sans",
      "Helvetica",
      "Arial",
      sans-serif;
}